#####################################################################
# KAST macros - convenience wrappers around the KAST_CALIBRATE /
# KAST_APPLY commands provided by klippy/extras/kast.py
#####################################################################

[gcode_macro KAST_TUNE_X]
description: Sweep driver_SGT (and current) for stepper_x and report the best value
gcode:
    KAST_CALIBRATE STEPPER=stepper_x AXIS=x {rawparams}

[gcode_macro KAST_TUNE_Y]
description: Sweep driver_SGT (and current) for stepper_y and report the best value
gcode:
    KAST_CALIBRATE STEPPER=stepper_y AXIS=y {rawparams}

[gcode_macro KAST_TUNE_ALL]
description: Sweep driver_SGT for both X and Y sensorless axes
gcode:
    KAST_CALIBRATE STEPPER=stepper_x AXIS=x
    KAST_CALIBRATE STEPPER=stepper_y AXIS=y
    KAST_STATUS
